@import "./_mixins.scss";
@import "./_variables.scss";

.page {
  @include flex-column-center-center;
  width: 100vw;
  height: 100vh;
  background-color: $blue;
  &_mountain {
    width: 200px;
    height: auto;
    transform: scaleX(-1);
  }
  &_gwne {
    font-size: 1rem;
    color: $white;
  }
  &_logo {
    width: 350px;
    height: auto;
  }
}
